[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[user]
	name = dkeresteci
	email = dkeresteci@gmail.com
[core]
    excludesfile = /home/ubuntu/.gitignore_global
    editor = emacsclient